
.App{
  width: 30%;
  margin: auto;
  margin-top: 200px;
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 14px;
}
.input-Two input{
  margin-left: 60px;
  border: none;
  padding: 7px;
}
.input-One input {
  margin-left: 20px;
  border: none;
  padding: 7px;
}
.input-Three input {
  margin-left: 30px;
  border: none;
  padding: 7px;
}
button{
  width: 70px;
  height: 30px;
  padding: 5px;
  background-color: rgb(247, 208, 108);
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
